.overflow-y-scroll {
    position: relative;
    overflow-y: scroll;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.dvh-100 {
    height: 100dvh;
}

.scale-on-hover {
    transition: all 0.25s ease;
}

.scale-on-hover:hover {
    border: 1px solid #a6a6a6;
}
